#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/outputs.h>

#define BASE 0
#define NAV  1
#define SYM  2
#define ADJ  3

&mt {
  tapping-term-ms = <200>;
  quick_tap_ms = <0>;
  flavor = "tap-preferred";
};

/ {
    aliases {
        led-red = &led0;
        led-green = &led1;
        led-blue = &led2;
    };

    conditional_layers {
        compatible = "zmk,conditional-layers";
        tri_layer {
            if-layers = <1 2>;
            then-layer = <3>;
        };
    };

    combos {
        compatible = "zmk,combos";

        // FLASH LEFT HALF: Safe Q + W Combo
        combo_boot_left {
            timeout-ms = <40>;              // Tightened to require near-simultaneous press
            require-prior-idle-ms = <200>;  // MUST be completely idle for 200ms first
            key-positions = <0 1>; 
            bindings = <&bootloader>;
            layers = <0>; 
        };

        // FLASH RIGHT HALF: Safe I + O Combo
        combo_boot_right {
            timeout-ms = <40>;
            require-prior-idle-ms = <200>;  // MUST be completely idle for 200ms first
            key-positions = <8 9>; 
            bindings = <&bootloader>;
            layers = <0>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        base {
            display-name = "BASE";
            bindings = <
                &kp TAB         &kp Q       &kp W         &kp E       &kp R   &kp T     &kp Y        &kp U         &kp I       &kp O            &kp P  &kp BSPC
                &kp ESC   &mt LSHFT A  &mt LALT S   &mt LCTRL D  &mt LGUI F   &kp G     &kp H   &mt RGUI J   &mt RCTRL K  &mt RALT L   &mt RSHFT SEMI  &kp SQT
                &kp LSHFT       &kp Z       &kp X         &kp C       &kp V   &kp B     &kp N        &kp M     &kp COMMA     &kp DOT         &kp FSLH  &kp ESC
                                       &kp LGUI &mo 1 &kp SPACE                      &kp RET &mo 2 &kp RALT
            >;
        };

        nav {
            display-name = "NAV";
            bindings = <
                &kp TAB     &kp N1          &kp N2       &kp N3       &kp N4       &kp N5         &kp N6   &kp N7   &kp N8 &kp N9    &kp N0 &kp BSPC
                &bt BT_CLR  &bt BT_SEL 0    &bt BT_SEL 1 &bt BT_SEL 2 &bt BT_SEL 3 &bt BT_SEL 4   &kp LEFT &kp DOWN &kp UP &kp RIGHT &trans &trans
                &kp LSHFT   &studio_unlock  &trans       &trans       &trans       &trans         &trans   &trans   &trans &trans    &trans &trans
                                                &kp LGUI     &trans       &kp SPACE      &kp RET  &trans   &kp RALT
            >;
        };

        sym {
            display-name = "SYM";
            bindings = <
                &kp TAB   &kp EXCL &kp AT &kp HASH &kp DLLR &kp PRCNT   &kp CARET &kp AMPS  &kp KP_MULTIPLY &kp LPAR &kp RPAR &kp BSPC
                &kp LCTRL &trans   &trans &trans   &trans   &trans      &kp MINUS &kp EQUAL &kp LBKT        &kp RBKT &kp BSLH &kp GRAVE
                &kp LSHFT &trans   &trans &trans   &trans   &trans      &kp UNDER &kp PLUS  &kp LBRC        &kp RBRC &kp PIPE &kp TILDE
                                          &kp LGUI &trans   &kp SPACE   &kp RET   &trans    &kp RALT
            >;
        };

        adj {
            display-name = "ADJ";
            bindings = <
                &kp TAB   &trans &kp F7 &kp F8 &kp F9 &kp F12   &kp C_VOL_DN &kp C_MUTE  &kp C_VOL_UP &trans &trans &kp BSPC
                &kp LCTRL &trans &kp F4 &kp F5 &kp F6 &kp F11   &trans       &trans      &trans       &trans &trans &trans
                &bt LSHFT &trans &kp F1 &kp F2 &kp F3 &kp F10   &trans       &trans      &trans       &trans &trans &trans
                                   &kp LGUI &mo NAV &kp SPACE   &kp RET &mo 2 &kp RALT
            >;
        };
        extra_1 {
                status = "reserved";
        };

        extra_2 {
                status = "reserved";
        };

        extra_3 {
                status = "reserved";
        };
    };
};
